<!-- extend generic layout -->
{% extends "generic.html" %}

{% block topLeft %}

  {% if session['logged_in'] %}
    Welcome, {{session['username']}}!
  {% endif %}

  {% if not session['logged_in'] %}
    HousingPairup
  {% endif %}

{% endblock %}


{% block content %}
<div class = "container">
  <form method="post" name = "login">
      {{ form.hidden_tag() }}
      <p>
          <br>
          <div class="4u 12u$(xsmall)">
            {{ form.netID(placeholder="NetID") }}
          </div>
          {% for error in form.netID.errors %}
              <span style="color: red;">{{ error }}</span>
          {% endfor %}
      </p>

      <p> 
          <div class="4u 12u$(xsmall)">
            {{ form.password(placeholder="Password") }}
          </div>
          {% for error in form.password.errors %}
              <span style="color: red;">{{ error }}</span>
          {% endfor %}
      </p>

      <input type="submit" value="Sign In">
  </form>
</div>
{% endblock %}